.slider { 
    position: fixed;
    top: 5px;
    left: 5px;
    //width: 15%;
    min-width: 20px;
    max-width: 65px;
    //border: solid 1px #000;
    box-shadow: 0 2px 13px rgba(0,0,0,0.3);
    cursor: grab;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 800ms ease-in-out 200ms;
    z-index: 999;
    
    &:hover {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
  
  .slider__size {
    position: relative;
    z-index: 3;
  }
  
  .slider__controller {
  //  outline: solid 3px black;
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    margin: -3px;
    border-radius: 10px;
    border: solid 3px black;
  }
  
  .slider__content { 
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: 0 0;
  }
  
  
  ////////////////////////////////////////
  /* Presentational Styles */
  
  img { max-width: 100%; height: auto; margin-bottom: 2em; }
  img { 
    display: block;
    position: relative;
    left: -50vw;
    margin-left: 50%; //calc(-50vw + 50%);
    width: 100vw;
    max-width: none;
  }