.flow-menu {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.flow-menu::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
