/* Basic editor styles */

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  >*+* {
    margin-top: 0em;
  }

  p {
    margin: 0em 0;
  }

  h1 {
    margin: 0em 0;
  }
  
  h2 {
    margin: 0em 0;
  }

  h3 {
    margin: 0em 0;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      >label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      >div {
        flex: 1 1 auto;
      }
    }
  }

  $black: #363839;
  $lightgray: #9c9e9f;
  $gray: #bdc1c6;
  $white: #fff;
  $green: #06842c;

  input[type="checkbox"] {
    position: relative;
    width: 19px;
    height: 19px;
    color: $black;
    border: 1.5px solid $gray;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0.5px;
      left: 5px;
      width: 6px;
      height: 12px;
      border-style: solid;
      border-color: $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }

    &:checked {
      color: $white;
      border-color: $green;
      background: $green;

      &::before {
        opacity: 1;
      }

      ~label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  label {
    position: relative;
    cursor: pointer;
    font-size: 12.5px;
    font-weight: 600;
    padding: 2.5px 3px 0;
    user-select: none;

    &::before {
      position: absolute;
      content: attr(data-content);
      color: $lightgray;
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: $black;
      transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}