/* Basic editor styles */

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  >*+* {
    margin-top: 0em;
  }

  mark {
    background-color: #ffe066;
    border-radius: 0.25em;
    box-decoration-break: clone;
    padding: 0.125em 0;
  }

  p {
    margin: 0em 0;
  }

  h1 {
    margin: 0em 0;
    font-family: 'EB Garamond';
  }

  h2 {
    margin: 0em 0;
    font-family: 'EB Garamond';
  }

  h3 {
    margin: 0em 0;
    font-family: 'Inter';
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      >label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      >div {
        flex: 1 1 auto;
      }
    }
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

.mention {
  box-decoration-break: clone;
  box-sizing: border-box;
  width: min-content;
  /* 61px */
  height: min-content;
  /* 25px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 5px 3px 5px;
  box-shadow: 0px 0.3613123810646357px 1.8065619053231785px -1.6666666666666665px rgba(0, 0, 0, 0.23), 0px 1.3731199819460742px 6.8655999097303715px -3.333333333333333px rgba(0, 0, 0, 0.19279), 0px 6px 30px -5px rgba(0, 0, 0, 0);
  background-color: #ffffff;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  gap: 2;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
}